<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style type="text/css">
		#input_id{
			border:2px solid #D3D3D3 ;
		}
		#submit{
			border:blue solid 2px;
			background-color: #1E90FF;
			padding:5px;
			border-radius: 5px;
		}
		#redborder{
			border:none;
			border-bottom: #D3D3D3  2px solid
		}
		#redborder:focus{
			outline:none;
			border-bottom-color:#FF6347;
		}
	</style>
	<meta charset="utf-8">
</head>
<body>

<div id="app">
	
<form action='https://www.google.is/search'>
	<input id="redborder" v-model="texti"  type="text"  placeholder="Input">
	<input v-model="texti" type="hidden" name="q">
	<button id="submit" type="submit" value="Submit">Submit</button>
</form>



</form>
</div>
<script src="https://code.jquery.com/jquery-3.2.0.min.js"></script>
<script src="https://unpkg.com/vue"></script>
<script type="text/javascript">
	var app = new Vue({
		el: "#app",
		data:{
				texti:''
			}
		
	});

	</script>
</body>
</html>
